<h1 class="text-center p-2">Image Generator</h1>

<form action="/" method="post">
    <input 
        type="text" 
        class="form-control mb-2" 
        placeholder="Enter img params" 
        name="prompt"
        required
    />

    <select name="size" class="form-control mb-2">
        <option value="256x256">Small</option>
        <option value="512x512">Medium</option>
        <option value="1024x1024">Large</option>
    </select>

    <input type="number" class="form-control mb-3" name="number" value="1"/>

    <button type="submit" class="btn btn-primary">Generate</button>
</form>

<div class="mb-5">
    {{#if images}}
        <div class="row">
            {{#each images}}
                <img src="{{ this.url }}" class="img-fluid rounded mt-5">
            {{/each}}
        </div>
    {{/if}}
</div>